
.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
}
.card-body{
    flex:auto
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}